# Utilize API in Python

 coder in Python, R and Java to authenticate, collect, model and visualize data.

In this project, I began with a small API exercise using Number API.  

The second part is getting information of movies from OMBD through its API. Then created a database on the local to store all these information.

In [1]:
import json
import requests
#!pip install pymysql
import pymysql

## Number API

In this part, I wrote a small program that accesses all trivia results for the numbers from 0 (zero) to 99 using batch requests only (One single query for all the numbers).

**Tasks to complete:**  
* Go to http://numbersapi.com and familiarize yourself with the API.  
* Print the output result to the screen in the format of [3-digit number with leading zeros] - [TRIVIA] (One number per each line).

**json.loads**:  
The response.text from a API page is not in HTML anymore, but in JSON. So we use json module.  

The json module offers a json object with **loads** and **dumps** method that convert from [JSON in text strings] to [associative arrays], and from [associative arrays] to [JSON in text strings].

In [2]:
# use batch requests to access all trivia results from 0 - 99.
url = "http://numbersapi.com/0..99"
agent = {"User-Agent":'Mozilla/5.0'}
response = requests.get(url, headers = agent)
response

In [3]:
results = json.loads(response.text)

In [4]:
i=0
for el in results:
    print("{0:03}".format(i) + " - " + results[el])
    i = i+1

000 - 0 is the atomic number of the theoretical element tetraneutron.
001 - 1 is the loneliest number.
002 - 2 is the first magic number in physics.
003 - 3 is the number of words or phrases in a Tripartite motto.
004 - 4 is the number of legs most furniture has.
005 - 5 is the number of babies born in a quintuplet.
006 - 6 is the number of points on a Star of David.
007 - 7 is the number of suicides mentioned in the Bible.
008 - 8 is the number of principles of Yong in Chinese calligraphy.
009 - 9 is the number of innings in a regulation, non-tied game of baseball.
010 - 10 is the number of fingers on a pair of human hands.
011 - 11 is the number of pounds one gallon of pure maple syrup weighs.
012 - 12 is the number of people who have walked on Earth's moon.
013 - 13 is the number of colonies that formed the United States.
014 - 14 is the number of days in a fortnight.
015 - 15 is the number of balls in the eight ball variant of billiards.
016 - 16 is the number of personality types in the Myers-Briggs classification system.
017 - 17 is the minimum driving age for a car or van in the United Kingdom.
018 - 18 is the number of holes in a stipulated round of golf.
019 - 19 is the number of years in 235 lunations.
020 - 20 is the number of ounces in Venti size coffees at Starbucks coffee shops.
021 - 21 is the number of demands which were sent to the Chinese government by the Japanese government of Okuma Shigenobu in 1915.
022 - 22 is the number of players on the field in a football (soccer) match.
023 - 23 is the number of enigma that plays a prominent role in the plot of The Illuminatus! Trilogy by Robert Shea and Robert Anton Wilson.
024 - 24 is the number of hours in a day.
025 - 25 is the number of cents in a quarter.
026 - 26 is the number of letters in the English and Interlingua alphabets.
027 - 27 is the total number of letters in the Spanish alphabet (5 vowels and 22 consonants).
028 - 28 is the number of days in the shortest month of the Gregorian calendar, February (except in leap years, when there are twenty-nine).
029 - 29 is the number of letters in the Turkish,Finnish, Swedish,Faroese,Danish and Norwegianalphabets.
030 - 30 is the number of hours of the longest kiss on record, by Dror Orpaz and Carmit Tsubara in 1999 at a kissing contest.
031 - 31 is the number of musical triads (12 major, 12 minor, 4 diminished, and 3 augmented).
032 - 32 is the freezing point of water at sea level in degrees Fahrenheit.
033 - 33 is the temperature at which water boils according to the Newton scale.
034 - 34 is the lucky number of Victor Pelevin's protagonist Stepan Mikhailov in the novel Numbers.
035 - 35 is the minimum age of candidates for election to the United States Presidency.
036 - 36 is the number of vehicles that run in each race of NASCAR's Camping World Truck Series.
037 - 37 is the cost in cents of the Whopper Sandwich when Burger King first introduced it in 1957.
038 - 38 is the number of minutes in the shortest war in history in which Zanzibar surrendered to England in 1896.
039 - 39 is the traditional number of times citizens of Ancient Rome hit their slaves when beating them, referred to as "Forty save one".
040 - 40 is the number of thieves in Ali Baba and the Forty Thieves and in Ali Shar and Zumurrud, from Thousand and One Nights.
041 - 41 is the number of soldiers in The Expendables (2010 film) tactor Eric Roberts laments to his subordinates about having been killed by star Sylvester Stallone in his escape from their island.
042 - 42 is the number of gallons that one barrel of petroleum holds.
043 - 43 is the maximum number of cars participating in a NASCAR race in the Cup Series or Nationwide Series.
044 - 44 is the percentage of kids who watch television before they go to sleep in the US.
045 - 45 is the sapphire wedding anniversary in years of marriage.
046 - 46 is the number of slices of pizza an average American kid eats in a year.
047 - 47 is the number of phonemes in English phonology in Received Pronunciation.
048 - 48 is the number of Ptolemaic constellations.
049 - 49 is the number of days and night Siddhartha Gautama spent meditating as a holy man.
050 - 50 is the traditional number of years in a jubilee period.
051 - 51 is the atomic number of antimony.
052 - 52 is the number of letters in the English alphabet, if majuscules are distinguished from minuscules.
053 - 53 is the port number of UDP and TCP for the Domain Name System protocol.
054 - 54 is the number of countries in Africa.
055 - 55 is the number of Delegates who attended the United States Constitutional Convention in 1787.
056 - 56 is the number of curls Shirley Temple, as a child, wore in her hair.
057 - 57 is the number of cm that the smallest man measured, Gul Mohammed (1957-1997) of India.
058 - 58 is the number of usable cells on a Hexxagon game board.
059 - 59 is the number corresponding to the last minute in a given hour.
060 - 60 is the number of seconds in a minute.
061 - 61 is the number of points required to win a "standard" game of Cribbage.
062 - 62 is the atomic number of samarium.
063 - 63 is the atomic number of europium.
064 - 64 is the number of classical arts listed in many Indian scriptures.
065 - 65 is the traditional age for retirement in the United Kingdom, Germany and other countries.
066 - 66 is the number of hot dogs eaten by World record holder Joey Chestnut in 15 minutes.
067 - 67 is the highest two-digit odd number not presently designating any highway in the Interstate Highway System of the United States.
068 - 68 is the ideal temperature (F) for developing black-and-white film.
069 - 69 is the atomic number of thulium, a lanthanide.
070 - 70 is the distance (meter) from archer to targets in Olympic Archery.
071 - 71 is the atomic number of lutetium.
072 - 72 is the number of episodes in the original airing of Futurama.
073 - 73 is the favorite number of The Big Bang Theory's character Sheldon Cooper.
074 - 74 is the atomic number of tungsten.
075 - 75 is the age in years that the Saguaro Cactus, found in southwestern US, must be to grow branches.
076 - 76 is the atomic number of osmium.
077 - 77 is the atomic number of iridium.
078 - 78 is the total number of gifts in the song The Twelve Days of Christmas.
079 - 79 is the record for cumulative weeks at #1 on the Billboard charts, held by Elvis Presley.
080 - 80 is the standard TCP/IP port number used for HTTP connections.
081 - 81 is the number of squares on a shogi playing board.
082 - 82 is the number of games in an NBA or NHL regular season.
083 - 83 is the highest UHF channel on older televisions made before the late 1970s.
084 - 84 is the atomic number of polonium.
085 - 85 is the atomic number of astatine.
086 - 86 is the device number for a lockout relay function in electrical circuit protection schemes.
087 - 87 is the number of tools in the Wenger Swiss Army Knife version XXL, listed in the Guinness Book of World Records as the world's most multi-functional penknife.
088 - 88 is the approximate number of days it takes Mercury to complete its orbit.
089 - 89 is the atomic number of actinium.
090 - 90 is the number of minutes in a football (soccer) match.
091 - 91 is the amount of money one has if one has one coin of each U.S. denomination less than a dollar (penny, nickel, dime, quarter, half dollar) in cents.
092 - 92 is the number of letters in the longest place name: Taumatawhakatangihangakoauauotamateaurehaeaturipukakapikimaungahoronukupokaiwhenuakitanatahu.
093 - 93 is the atomic number of neptunium.
094 - 94 is the length of an NBA court in feet.
095 - 95 is the atomic number of americium.
096 - 96 is the rating of Skyrim on metacritic.com.
097 - 97 is the atomic number of berkelium.
098 - 98 is the highest jersey number allowed in the National Hockey League (as 99 was retired by the entire league to honor Wayne Gretzky).
099 - 99 is the highest jersey number allowed in most major league sports.

## OMDB API

**Tasks to complete:**  
* Assemble URL using API key and search key word "blade" to get from OMDB database movies that have "blade" in their title.  

* Iterate through the searched items and print the movie ID.  

* Create a database on local to store movie information.  

* Choose 10 movies to search for and insert into database the information of: title, year, genre, director, imdb_rating, rotten_tomatoes, metacritic, plot, box_office.

### (a) Assemble URL uisng API Key and search key words "blade"; Using GET requests to get the JSON response from OMDB database for movies that have "blade" in their title.

In [6]:
# apply for your own apikey on the OMDB API website. 
apikey = ""
kw_search = "blade"
URL = "http://omdbapi.com/?apikey="+apikey+"&s="+kw_search

### (b) GET the JSON response from OMDB database and pretty-print it on the screen.

In [11]:
# GET request response
r = requests.get(URL, headers={'user-agent': 'Mozilla/5.0'})

In [9]:
## use the loads method to obtain a Python object from its JSON representation
parsed = json.loads(r.text)
## use the dumps method to convert an object into its JSON equivalent.
print(json.dumps(parsed, indent=4, sort_keys=True))

{
    "Response": "True",
    "Search": [
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BNzQzMzJhZTEtOWM4NS00MTdhLTg0YjgtMjM4MDRkZjUwZDBlXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg",
            "Title": "Blade Runner",
            "Type": "movie",
            "Year": "1982",
            "imdbID": "tt0083658"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg",
            "Title": "Blade Runner 2049",
            "Type": "movie",
            "Year": "2017",
            "imdbID": "tt1856101"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BOTk2NDNjZWQtMGY0Mi00YTY2LWE5MzctMGRhZmNlYzljYTg5XkEyXkFqcGdeQXVyMTAyNjg4NjE0._V1_SX300.jpg",
            "Title": "Blade",
            "Type": "movie",
            "Year": "1998",
            "imdbID": "tt0120611"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BOWVjZTIzNDYtNTBlNC00NTJjLTkzOTEtOTE0MjlhYzI2YTcyXkEyXkFqcGdeQXVyNTAyODkwOQ@@._V1_SX300.jpg",
            "Title": "Blade II",
            "Type": "movie",
            "Year": "2002",
            "imdbID": "tt0187738"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BMjE0Nzg2MzI3MF5BMl5BanBnXkFtZTYwMjExODQ3._V1_SX300.jpg",
            "Title": "Blade: Trinity",
            "Type": "movie",
            "Year": "2004",
            "imdbID": "tt0359013"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BNGY5NWIxMjAtODBjNC00MmZhLTk1ZTAtNGRhYThlOTNjMTQwXkEyXkFqcGdeQXVyNTc1NTQxODI@._V1_SX300.jpg",
            "Title": "Sling Blade",
            "Type": "movie",
            "Year": "1996",
            "imdbID": "tt0117666"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BMTk0MjgxOTQ5MF5BMl5BanBnXkFtZTgwODA3NTUwNjE@._V1_SX300.jpg",
            "Title": "Dragon Blade",
            "Type": "movie",
            "Year": "2015",
            "imdbID": "tt3672840"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BYzIwYmJlMjktMzJiMy00YmQzLThmNWYtNWY3NGViZjc4MzYwXkEyXkFqcGdeQXVyNDQxNjcxNQ@@._V1_SX300.jpg",
            "Title": "Blade of the Immortal",
            "Type": "movie",
            "Year": "2017",
            "imdbID": "tt5084170"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BNjZhMTNmMTItNmU4Mi00YTdkLWFkZWUtOGExNTQ3MGRiYWYyXkEyXkFqcGdeQXVyNzI1NzMxNzM@._V1_SX300.jpg",
            "Title": "Shinobi: Heart Under Blade",
            "Type": "movie",
            "Year": "2005",
            "imdbID": "tt0475723"
        },
        {
            "Poster": "https://m.media-amazon.com/images/M/MV5BZGNiNmNiMTctMDI4OS00OWYxLWE4ZWEtZjFkZjU4ZmY5YzEyXkEyXkFqcGdeQXVyMzgxODM4NjM@._V1_SX300.jpg",
            "Title": "Blade Runner: Black Out 2022",
            "Type": "movie",
            "Year": "2017",
            "imdbID": "tt7428594"
        }
    ],
    "totalResults": "228"
}

### (c) Iterate through the JSON object and print out the IMDB ID for each searched movie.

In [5]:
for i in range(0,len(parsed['Search'])):
    print(parsed['Search'][i]['imdbID'])

tt0083658
tt1856101
tt0120611
tt0187738
tt0359013
tt0117666
tt3672840
tt5084170
tt0475723
tt7428594

### (d) Create database and table with proper data types.

(i) connects to your local SQL instance,  
(ii) creates a database named "ucdavis",  
(iii) creates the table "omdb_test" containing the columns "imdb_id", "title", and "year". 

"imdb_id" can be stored as string as it is a combination of letters and numbers.  
"title" will be stored as a string for each movie.  
"year" will be stored as a DateTime for each movie.

In [ ]:
pw = "" # a dynamic password for users to enter

conn = pymysql.connect(host='localhost', user = 'root', password = pw)
cursor = conn.cursor()
# Create database
SQL_DB = "OMDB"
cursor.execute('DROP DATABASE IF EXISTS '+SQL_DB)
query_DB = "CREATE DATABASE IF NOT EXISTS " + SQL_DB + ";"
cursor.execute(query_DB)

In [ ]:
# Create omdb table with listed columns.
conn = pymysql.connect(host='localhost', user = 'root', password = pw, database=SQL_DB)
cursor = conn.cursor()
cursor.execute('DROP TABLE IF EXISTS %s' % ('omdb'))
sql = '''CREATE TABLE IF NOT EXISTS omdb
      (id INT AUTO_INCREMENT PRIMARY KEY,
       Title VARCHAR(255),
       Year YEAR(4),
       Genre VARCHAR(255),
       Director VARCHAR(255),
       IMDB_Rating INT(11),
       Rotten_Tomatoes INT(11),
       Metascore INT(11),
       Plot VARCHAR(255),
       BoxOffice VARCHAR(255));
      '''
cursor.execute(sql)
cursor.close()
conn.close()

### (e) Search and print 10 movie titles and their imdbIDs to the screen.

In [9]:
# Look up for my 10 movie choices.
top10 = ["The Shawshank Redemption", "Joker", "Inception", "Avatar", 
         "The Dark Knight", "Interstellar", "The Silence of the Lambs",
         "Avengers: Endgame", "The Usual Suspects", "The Legend of 1900"]
top10_id = []

for movie in top10:
    url_temp = "http://omdbapi.com/?apikey=" + apikey + "&t=" + movie
    response = requests.get(url_temp, headers={'user-agent': 'Mozilla/5.0'})
    parsed_temp = json.loads(response.text)
    top10_id.append(parsed_temp['imdbID'])
    print(movie + ", imbdID: " + parsed_temp['imdbID'])

The Shawshank Redemption, imbdID: tt0111161
Joker, imbdID: tt7286456
Inception, imbdID: tt1375666
Avatar, imbdID: tt0499549
The Dark Knight, imbdID: tt0468569
Interstellar, imbdID: tt0816692
The Silence of the Lambs, imbdID: tt0102926
Avengers: Endgame, imbdID: tt4154796
The Usual Suspects, imbdID: tt0114814
The Legend of 1900, imbdID: tt0120731

### (f) Look up the movie details using the imdbIDs and print out the result to the screen.

In [10]:
# Look up the movie details using the previously obtained imdbIDs.
for movie_id in top10_id:
    url_id = "http://omdbapi.com/?apikey=" + apikey + "&i=" + movie_id
    r_id = requests.get(url_id, headers={'user-agent': 'Mozilla/5.0'})
    parsed_id = json.loads(r_id.text)
    print("imdbID: " + movie_id + ", Title: " + parsed_id['Title'])

imdbID: tt0111161, Title: The Shawshank Redemption
imdbID: tt7286456, Title: Joker
imdbID: tt1375666, Title: Inception
imdbID: tt0499549, Title: Avatar
imdbID: tt0468569, Title: The Dark Knight
imdbID: tt0816692, Title: Interstellar
imdbID: tt0102926, Title: The Silence of the Lambs
imdbID: tt4154796, Title: Avengers: Endgame
imdbID: tt0114814, Title: The Usual Suspects
imdbID: tt0120731, Title: The Legend of 1900

### (g) Insert the following information of the 10 movie titles into the SQL table: title, year, genre, director, imdb_rating, rotten_tomatoes, metacritic, plot, box_office.

In [12]:
# Insert movie details into omdb table
conn = pymysql.connect(host='localhost', user = 'root', password = pw, database=SQL_DB)
cursor = conn.cursor()

for movie_id in top10_id:
    # Get JSON response for each movie and set up the dictionary ready to be inserted.
    url_id = "http://omdbapi.com/?apikey=" + apikey + "&i=" + movie_id
    r_id = requests.get(url_id, headers={'user-agent': 'Mozilla/5.0'})
    parsed_id = json.loads(r_id.text)
    
    # Raw data to be inserted
    title = parsed_id['Title']
    year = int(parsed_id['Year'])
    genre = parsed_id['Genre']
    director = parsed_id['Director']
    imdb_rating = float(parsed_id['imdbRating'])*10
    rotten_tomatoes = None if (parsed_id['Ratings'][1]['Value']=='N/A') else int(parsed_id['Ratings'][1]['Value'].replace('%',''))
    metascore = None if (parsed_id['Metascore']=='N/A') else int(parsed_id['Metascore'])
    plot = parsed_id['Plot']
    box_office = None if (parsed_id['BoxOffice']=='N/A') else parsed_id['BoxOffice']
                        
    # Setup the SQL query
    sql = "INSERT INTO omdb"+("(Title, Year, Genre, Director, IMDB_Rating, "
                              "Rotten_Tomatoes, Metascore, Plot, BoxOffice)"
                              " VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)")
    values = (title, year, genre, director, imdb_rating, rotten_tomatoes, metascore, plot, box_office)
    
    # Execute the query
    cursor.execute(sql, values)
    conn.commit()
    print("Inserted: "+parsed_id['Title'])
    
cursor.close()
conn.close()

Inserted: The Shawshank Redemption
Inserted: Joker
Inserted: Inception
Inserted: Avatar
Inserted: The Dark Knight
Inserted: Interstellar
Inserted: The Silence of the Lambs
Inserted: Avengers: Endgame
Inserted: The Usual Suspects
Inserted: The Legend of 1900